@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model SideKickDLL.Tilasto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Korkein läpäisty taso
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aika)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Taso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Aika)
                    </td>
                </tr>

            </tbody>
        </table>
        @Html.ActionLink("Taso 1", "Kulkukortti", "Peli", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Taso 2", "Lista", "Peli", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Taso 3", "Color_It_Redd", "Peli", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Taso 4", "Morse", "Peli", null, new { @class = "btn btn-primary" })
    }
    else
    {
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Kirjaudu päästäksesi peliin</a>
    }
</p>
